@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	background: #93c0d4;
}

.container1 {
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.block {
    background-color:rgba(56, 54, 54, 0.699);color:white;padding:20px;border: 5px solid red; border-radius: 25px; 
    min-height: 200px; width: 230px; overflow-wrap: break-word; margin: 5px;
}




